<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flask Riot!</title>
        <link rel="stylesheet" type="text/css" href="../static/bower_components/skeleton/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../static/bower_components/skeleton/css/skeleton.css">
    </head>
    <body>
        <div id="container" class="container">
            <div id="header" class="row">
                <div class="column">
                    <h1>
                    Nutrition Finder
                    </h1>
                </div>
            </div>
            <search-bar></search-bar>
            <result-table></result-table>
        </div>
        <!-- Scripts -->
        <script type="text/javascript" src="../static/bower_components/riot/riot.js"></script>
        <script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../static/services/NutritionApiSvc.js"></script>
        <script type="text/javascript" src="../static/tags/allTags.js"></script>
        <script type="application/javascript">
            var bus = riot.observable();
            riot.mount("*",{bus: bus, api: NutritionApi});
        </script>
    </body>
</html>